.father{
    width: 90%;
    margin: 0 auto;
    /*border: 2px solid black;*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}

div{
    width: 16%;
    /*border: 2px solid black;*/
}