.grey{
    background: #727272;
}

.br{
    border-radius: 20px;
}

.df{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
    font-size: 30px;
    color: white;
}

.header{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo{
    width: 28%;
}

.header_el{
    width: 68%;
}

.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.aside{
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav{
    width: 100%;
    min-height: 40vh;
}

.store, .tools{
    width: 100%;
    height: 15vh;
}

.right{
    width: 68%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.bath{
    width: 65%;
}

.ad{
    width: 25%;
    height: 20vh;
}

.bath_type{
    width: 65%;
}

.products{
    width: 25%;
    height: 58vh;
}

.footer{
    width: 100%;
    height: 5vh;
}

.left_box, .right_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_new, .end{
    display: none;
}

@media screen and (max-width: 1000px){
    .aside{
        display: none;
    }

    .right{
        width: 100%;
    }

    .right_box{
        margin-bottom: 10px;
        gap: 10px;
        flex-direction: column;
    }

    .bath_type{
        width: 100%;
    }

    .products{
        width: 100%;
    }

    .nav_new{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        margin-bottom: 10px;
    }

    .main{
        flex-direction: column;
    }

    .bath_type{
        height: 25vh;
    }

    .products{
        height: 15vh;
    }

    .end{
        display: flex;
        gap: 10px;
    }

    .left_box{
        height: 20vh;
    }
}